.github
.scannerwork
build
markers
node_modules
.fossa.yaml
.pre-commit-config.yaml
.readthedocs.yaml
CHANGELOG.md
docker-compose*.yml
Jenkinsfile
Makefile
mkdocs.yml
standard_defs.mk
test.sh
Dockerfile
